<head>
        <link 
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Jua">
<style>
    body {background-color:gray;
        font-family: 'Jua', serif;
        padding-top: 200px;
    
    }

    h1 {
        color:white;
        font-size: 20px;
        text-align: center;
    }

    p {
        color: white;
        font-size: 30px;
        border: 2px solid black;
        margin: 25px 50;
        background-color:tomato;
        text-align: center;


    }
    
    a {
        margin: 25px 700px;
    }
    </style>



</head>



<h1>About</h1>

<p>안녕하세요, 
    <br>
    이곳은 영현쓰가 정성스레 한 자 한 자 글자수를 세주는 워드카운트 웹페이지입니다. 
    <br>
    여기에서 글자를 세어보세요!
    
 </p>

<a href="{%url 'home'%}">글자수 세러 고고씽</a>